<html>
  <body style="text-align: center">    
<h2>Here, all posts are displayed!</h2>

<% @shouts.each do |shout| %>
  <p><b><%= shout.message %></b> <br> 
    by <%= @users.find(shout.user_id).handle %>,  Likes: <%= shout.likes %></p> <p> posted on <%= shout.created_at %> </p>
     <p>
        <form action="/likes" method="post">
          <%shout.id%>
        <input type="submit" value="like!"/>
        </form>
      </p>
      <br>
      <br>

<% end %>


    </form></a>
  </body>
</html>