<html>
  <body>
    <h3> Please enter your handle here: </h3>    
      <form action="/login" method="post">
        Enter handle
      <input name="handle" /><br>
        Enter correct password: 
      <input name="realpassword" /><br> 
      <input type="submit" />
    </form></a>
<p> <%=@user.handle %> </p>
<p> <%=@user.password %> </p>

  </body>
</html>