<html>
  <body style="text-align: center">
    <h3> Please enter your handle here: </h3>    
      <form action="/loginpage" method="post">
        Enter handle
      <input name="handle" /><br>
        Enter correct password: 
      <input name="realpassword" /><br> 
      <input type="submit" />
    </form></a>

    <b><%=@answer%></b>
  </body>
</html>