<html>
  <body style="text-align: center">    
      <form action="/mainpage" method="shout">
        Enter SHOUT
      <input name="message" /><br>
      <input type="submit" />


    </form></a>
  </body>
</html>