<html>
  <body style="text-align: center">
    <h3> Please enter your handle here: </h3>    
      <form action="/login" method="post">
        Enter handle
      <input name="handle" /><br>
        Enter correct password: 
      <input name="realpassword" /><br> 
      <input type="submit" />
    </form></a>
<p> <%=@loginresult %> </p>

  </body>
</html>