<html>
  <body style="text-align: center">
    <h1>SHOUTER! The final Boss</h1>


      <h3> Please create a user here: </h3>    
      <form action="/" method="post">
        Enter name 
      <input name="name" /><br>
        Enter handle: (It should not contain spaces, and be only characters in downcase)
      <input name="handle" /><br>
        Generate a random password (click submit)
      <input type="submit" />
    </form></a>
    
    <p>
    </p>




    <p>
    If you created one already
    <a href="/loginpage">Got to login page</a>
    </p>
  </body>
</html>





