<html>
  <body>
    <h1> Sign-up Page </h1>

  <p> Please sign your name below</p>
    

    <form action="/signup" method="post">
      <input name="name" />
      <input type="submit" />
    </form>





  </body>
</html>